{% extends 'base.html' %}

{% block title %}
    <title>Todo List - Taskmate</title>
{% endblock title %}

{% block context %}
<div class="container">
    <br>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
                
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <div class="row">
            <div class="col col-4">
                <label></label>
            </div>
            <div class="col col-6">
                <input type="text" class="form-control" name="task" placeholder="New Task?">
            </div>
            <div class="col col-2">
                <button type="submit" class="btn btn-primary row-">Add Task</button>
            </div>
        </div>
    </form>

    <br>
    <table class="table table-bordered">
        {% comment %} <thead class="table-dark">
          <tr>
            <th scope="col">Task</th>
            <th scope="col">Done</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead> {% endcomment %}
    <tbody>
        {% if all_tasks %}
            {% comment %} Loop through the models taskList models querry {% endcomment %}
            {% for obj in all_tasks %}
            {% comment %} If object is true {% endcomment %}
                {% if obj.done %}

                    <tr class="table-success">
                        <td>{{obj.task}} </th>
                        <td>Completed</td>
                        <td>Delete</td>
                        <td>Edit</td>
                    </tr>

                {% else %}

                    <tr>
                        <td>{{obj.task}} </th>
                        <td>Not Completed</td>
                        <td>Delete</td>
                        <td>Edit</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </tbody>
    </table>
    <br>


</div>
{% endblock context %}


