{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edit Profile - Taskmate</title> 
{% endblock title %}

{% block context %}

<h2 class="text-center">Edit Profile</h2>

<div class="container mt-5 col-md-4 mx-auto">
	<form method="POST" action="{% url 'edit_profile' %}">
		{% csrf_token %}

		{% if form.errors %}
			<div class="alert alert-warning alert-dismissable" role="alert">
            <button class="close" data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
            <p>Your Form Has Errors...</p>
            {% for field in form %}
            	{% if field.errors  %}
            		{{ field.errors }}
            	{% endif %}

            {% endfor %}

          </div>


		{% endif %}
		
       
			{{ form | crispy }}


		<input type="submit" value="Edit Profile" class="btn btn-secondary">
	</form>

    <br/>
    <p><small><a href="{% url 'change_password' %}">Click Here</a> To Change Your Password</small></p>
</div>
<br/><br/>
{% endblock %}

