{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    {% comment %} Jinja2 block {% endcomment %}
    {% block title %}
    {% endblock title %}


    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}"><img src = {% static 'images/blue_tick_button.png' %} alt= 'Troubleshoot IT logo' height=50, witdth=50></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'index' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'todolist' %}">Todo List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' %}">Profile</a>
              </li>
            </ul>
          </div>   
          <div class="form-check-inline my-5 my-lg-0">
            {% if user.is_authenticated %}
            <a class="p-2 m-2 text-white">Logged in as: {{user.username }}
            </a>
            <a href="{% url 'logout' %}">
              <button class="btn btn-info my-2 my-sm-0" type="submit">Logout</button>
            </a>
            {% else %}
            <a href="{% url 'login' %}">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </a>
            <a href="{% url 'register' %}">
              <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Register</button>
            </a>

            {% endif %}
          </div>
        </div>


      </nav>

</head>
  <body>
    <p>Your Username is : {{user}} </p>
    <p>Your User Id is  : {{user.id}} </p>
  </br>
  {% comment %} <div class="container">
    {% if messages %} 
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %} {% endcomment %}
    {% block context %}
    {% endblock context %}
   
   


<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>